name: Update Repository

on:
  repository_dispatch:
    types:
      - BigLinuxArch/*

  # workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
      volumes:
        - /opt:/lixo/opt
        - /usr:/lixo/usr
        - /var:/lixo/var
    steps:
      - uses: actions/checkout@v4

      - name: Install Dependencies
        shell: bash
        run: |
          echo -e "[multilib]\nInclude = /etc/pacman.d/mirrorlist" >> /etc/pacman.conf
          pacman -Syu --noconfirm git

      - name: echo PayLoads
        run: |
          echo "origin: ${{ github.event.client_payload.origin }}"
          echo "branch: ${{ github.event.client_payload.branch }}"
          echo "urlBigArch: ${{ github.event.client_payload.urlBigArch }}"

      - name: Update XPTO
        env:
          origin: ${{ github.event.client_payload.origin }}
          branch: ${{ github.event.client_payload.branch }}
          urlBigArch: ${{ github.event.client_payload.urlBigArch }}
        run: |
          echo "origin: $origin"
          echo "urlBigArch: $urlBigArch"
          pkgname=$(basename $urlBigArch)

          git clone https://${{ secrets.TOKEN_RELEASE }}@github.com/BigLinuxArch/$pkgname
          pushd $pkgname
          if [ -d "$pkgname" ]; then
            rm -rf $pkgname
          fi

          if [ "$origin" = "biglinux" ] || [ "$origin" = "big-comm" ];then
            git clone https://github.com/$origin/$pkgname
            cd $pkgname

            if [ "$origin" = "biglinux" ];then
              lastStableBranch=$(git branch -r --sort=-committerdate | grep stable | cut -d "/" -f2 | head -n1)
              git checkout $lastStableBranch
              pkgbuildFile=$(find -type f -name PKGBUILD)
              sed -i '/source=/s/\.git"/\.git#branch='$lastStableBranch'"/' $pkgbuildFile
            #elif [ "$origin" = "big-comm" ];then
            fi
            pkgver=$(sed 's/-[^-]*$//' <<< $branch)
            pkgrel=$(awk -F'-' '{print $NF}' <<< $branch)
            echo "pkgver=$pkgver"
            echo "pkgrel=$pkgrel"
            sed -i "/pkgver=/s/pkgver=.*/pkgver=$pkgver/" $pkgbuildFile
            sed -i "/pkgrel=/s/pkgrel=.*/pkgrel=$pkgrel/" $pkgbuildFile

            if [ -e "extraAur.sh" ];then
              echo "executando extra commands"
              bash extraAur.sh
            fi

          elif [ "$origin" = "aur" ];then
            git clone https://aur.archlinux.org/${pkgname}
            rm -rf $pkgname/.git
            if [ -e "extraAur.sh" ];then
              echo "executando extra commands"
              bash extraAur.sh
            fi
          fi

      - name: Push to Git
        shell: bash
        env:
          urlBigArch: ${{ github.event.client_payload.urlBigArch }}
        run: |
          pkgname=$(basename $urlBigArch)
          cd $pkgname
          git config --global user.email "${{ secrets.PUSHER_EMAIL }}"
          git config --global user.name "${{ secrets.PUSHER_USER }}"
          git add -A
          if [ -n "$(git commit -m "update $(date +%Y-%m-%d)" -a | grep "nothing to commit")" ];then exit 0; fi
          git push

      # - name: Trigger Build Workflow
      #   uses: peter-evans/repository-dispatch@v1
      #   with:
      #     token: ${{ secrets.GITHUB_TOKEN }}
      #     event-type: build
      #     client-payload: '{"bigbranch": "${{ github.event.client_payload.branch }}" }'
